{% extends 'layout.html' %}
{% block top_image%}
<!-- TODO avaiable cats when needed-->
<!-- TOP IMAGE -->
<img
  src="static/images/bratcy-2.jpg"
  class="mx-auto d-block img-fluid p-5 w-25 h-25" alt="...">
{% endblock %}

{% block gallery%}
<!-- Gallery -->
<div class="row mx-auto h-75 w-75" data-toggle="modal" data-target="#galleryModal">
  <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
    <img
      src="static/images/marvin-dostojny.jpg"
      class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />

    <img src="static/images/marvin-spiacy.jpg" class="w-100 shadow-1-strong rounded mb-4"
      alt="Wintry Mountain Landscape" />
  </div>

  <div class="col-lg-3 mb-4 mb-lg-0">
    <img
      src="static/images/walentynka-chill.jpg"
      class="w-100 shadow-1-strong rounded mb-4" alt="Mountains in the Clouds" />

    <img
      src="static/images/marvin-nastolatek.jpg"
      class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />
  </div>

  <div class="col-lg-3 mb-4 mb-lg-0">
    <img
      src="static/images/marvin-happy.jpg"
      class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" />

    <img
      src="static/images/walentynka-pyza.jpg"
      class="w-100 shadow-1-strong rounded mb-4" alt="Yosemite National Park" />
  </div>

  <div class="col-lg-3 mb-4 mb-lg-0">
    <img
      src="static/images/walentynka-pyza.jpg"
      class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" />

    <img
      src="static/images/bratcy.jpg"
      class="w-100 shadow-1-strong rounded mb-4" alt="Yosemite National Park" />
  </div>
</div>
<!-- Gallery -->

<script>
  $(document).on('click', '[data-toggle="lightbox"]', function (event) {
    event.preventDefault();
    $(this).ekkoLightbox();
  });
</script>
{% endblock %}
