{% extends 'layout.html' %}

{% block our_cats %}
<div class="container">
  <div class="jumbotron bg-light text-center">
    <h1 class="display-4 text-capitalize">Nasze koty</h1>
    <p class="lead">
      AEZAKMI AEZAKMI AEZAKMI AEZAKMI AEZAKMI
    </p>
  </div>
  <div class="row">
    <div class="col-lg-6 mb-3">
      <a href="https://images.pexels.com/photos/3712095/pexels-photo-3712095.jpeg?auto=compress&cs=tinysrgb&w=1600" data-lightbox="mygallery" data-title="caption here">
        <img src="https://images.pexels.com/photos/3712095/pexels-photo-3712095.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="" class="img-fluid">
      </a>
      DESCRIPTION
    </div>

    <div class="col-lg-6 mb-3">
      <a href="https://images.pexels.com/photos/3712095/pexels-photo-3712095.jpeg?auto=compress&cs=tinysrgb&w=1600" data-lightbox="mygallery" data-title="caption here">
        <img src="https://images.pexels.com/photos/3712095/pexels-photo-3712095.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="" class="img-fluid">
      </a>
      DESCRIPTION
    </div>

    <div class="col-lg-8 mb-3">
      <a href="https://images.pexels.com/photos/3712095/pexels-photo-3712095.jpeg?auto=compress&cs=tinysrgb&w=1600" data-lightbox="mygallery" data-title="caption here">
        <img src="https://images.pexels.com/photos/3712095/pexels-photo-3712095.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="" class="img-fluid">
      </a>
      DESCRIPTION
    </div>
  </div>
</div>
{% endblock %}