<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %} Error 404 </title>
    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            height: 50%;
          }
        </style>
    {% endblock %}
  </head>
  <body>
    
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      <img src="{{ url_for('static', filename='404handler.png') }}" width="600" height="400" alt='404 kitty' class="center"/>
      {% endblock %}
    </div>
  </body>
</html>